[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=learnterra
Group=learnterra
RuntimeDirectory=gunicorn
WorkingDirectory=/opt/learnterra/app/src
ExecStart=/opt/learnterra/venv/bin/gunicorn --pid /run/gunicorn/pid --bind unix:/run/gunicorn/socket app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
